################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/RaceManagement.API/obj
/src/RaceManagement.Application/obj
/src/RaceManagement.Core/obj
/src/RaceManagement.Infrastructure/obj
/src/RaceManagement.Shared/obj
