src/.vs/
src/RaceManagement.Abstractions/bin/
src/RaceManagement.Abstractions/obj/

src/RaceManagement.API/bin/
src/RaceManagement.API/obj/
src/RaceManagement.API/credentials

src/RaceManagement.Application/bin/
src/RaceManagement.Application/obj/

src/RaceManagement.Core/bin/
src/RaceManagement.Core/obj/

src/RaceManagement.Infrastructure/bin/
src/RaceManagement.Infrastructure/obj/

src/RaceManagement.Shared/bin/
src/RaceManagement.Shared/obj/



